venv/
.git.bfg-report/
__pycache__/

pycache/
*.pyc
*.pyo
*.pyd


.env
.venvv
venvv/
env/

OS-specific

.DS_Store
Thumbs.db

Flask session files

flask_session/
chroma_db/
chroma_db_swarm/
parsed_assets/
result/
scenario3_docs/
venvv/
image/
Uploads/

db.py
inspect_database.py
ragas_eval.py
main.py

# Large data files
*.csv
*.json
*.pkl
*.pickle
*.xlsx
*.pt
*.bin

# Logs
logs/
retrieval_logs/

# Ignore everything in medical folder except medquad.csv
medical_dataset/*
!medical_dataset/medquad.csv

